.pln {
  color: #555555;
}
.str {
  color: #DD1144;
}
.kwd {
  color: #445588;
}
.com {
  color: #b8b6b1;
}
.typ {
  color: #008080;
}
.lit {
  color: #DD1144;
}
.pun,
.opn,
.clo {
  color: #555555;
}
.tag {
  color: #445588;
}
.atn {
  color: #008080;
}
.atv {
  color: #DD1144;
}
.dec,
.var {
  color: #DD1144;
}
.fun {
  color: #445588;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
